footer.footer
	.container.container--medium.footer__container
		a.footer__logo(href='#', target='_blank')
			+icon('logo-solar')(width='105', height='21')
		a.footer__logo(href='#', target='_blank')
			+icon('logo-cnews')(width='94', height='17')
