header.header
	.container.container--medium.header__container
		a.header__logo(href='#', target='_blank')
			+icon('logo-solar')(width='105', height='21')
		a.header__logo(href='#', target='_blank')
			+icon('logo-cnews')(width='94', height='17')