.advantages {
	padding: 60px 0 40px;

	@include max(ti) {
		padding: 30px 0;
	}

	&.animate {
		.advantages-item {
			opacity: 0;
			transform: translateX(-30px);
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: center;
		gap: 20px;
		padding: 0 30px;
		margin-top: 40px;

		@include max(tl) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include max(ti) {
			margin-top: 30px;
		}

		@include max(t) {
			grid-template-columns: repeat(1, 1fr);
			gap: 40px;
		}
	}
}
