.advantages-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	transition: 0.3s ease;

	&:nth-child(2) {
		transition-delay: 0.3s;
	}

	&:nth-child(3) {
		transition-delay: 0.6s;
	}

	&:nth-child(4) {
		transition-delay: 0.9s;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 96px;
		height: 96px;
		padding: 15px;
		background-color: $color-icon-bg;
		border-radius: 50%;
		overflow: hidden;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		font-size: 15px;
		text-align: center;
	}
}
