.banner {
	$parent: &;

	padding: 88px 0 40px;
	background-color: $color-bg;

	&--bottom {
		padding: 78px 0 40px;
		background-color: unset;

		#{$parent} {
			&__content {
				min-height: 329px;
				max-width: 520px;
				padding: 0 60px;
			}

			&__button {
				max-width: 296px;
				padding: 12px 20px;
				font-size: 18px;
				text-transform: unset;
			}
		}
	}

	&__wrapper {
		position: relative;
		overflow: hidden;

		&:hover #{$parent}__bg-image {
			transform: scale(1.05);
		}
	}

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s ease;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 377px;
		max-width: 455px;
		padding: 0 37px;
	}

	&__title {
		font-size: 40px;
	}

	&__button {
		max-width: 248px;
		margin-top: 40px;
		font-weight: 500;
		font-size: 15px;
		text-transform: uppercase;
	}
}
