.banner {
	$parent: &;

	padding: 88px 0 40px;
	background-color: $color-bg;

	@include max(ti) {
		padding: 30px 0;
	}

	&--bottom {
		padding: 78px 0 40px;
		background-color: unset;

		@include max(ti) {
			padding: 30px 0;
		}

		#{$parent} {
			&__content {
				min-height: 329px;
				max-width: 520px;
				padding: 0 60px;

				@include max(ti) {
					max-width: 370px;
					padding: 0 20px;
				}
			}

			&__button {
				max-width: 296px;
				padding: 12px 20px;
				text-transform: unset;

				@include max(ti) {
					max-width: 200px;
					padding: 10px 20px;
				}
			}
		}
	}

	&__wrapper {
		position: relative;
		overflow: hidden;

		&:hover #{$parent}__bg-image {
			transform: scale(1.05);
		}
	}

	&__bg {
		position: absolute;
		inset: 0;

		/*&::before {
			@include max(tl) {
				position: absolute;
				inset: 0;
				z-index: 1;
				content: "";
				background-color: rgba(0, 0, 0, 0.7);
			}
		}*/
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.3s ease;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 377px;
		max-width: 455px;
		padding: 0 37px;

		@include max(tl) {
			z-index: 1;
			align-items: flex-start;
			/*max-width: 100%;*/
		}

		@include max(ti) {
			max-width: 350px;
			padding: 0 20px;
		}
	}

	&__title {
		font-size: 40px;

		@include max(d) {
			font-size: fluid(38, 40, 992, 1280);
		}

		@include max(tl) {
			/*color: $white;*/
			font-size: fluid(34, 38, 768, 992);
			/*text-align: center;*/
		}

		@include max(ti) {
			font-size: fluid(22, 34, 0, 768);
		}
	}

	&__button {
		max-width: 248px;
		margin-top: 40px;
		font-weight: 500;
		font-size: 15px;
		text-transform: uppercase;

		@include max(ti) {
			max-width: 200px;
			padding: 10px 20px;
		}
	}
}
