.cases {
	padding: 80px 0;

	@include max(ti) {
		padding: 30px 0;
	}

	&__group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: 34px;
		margin-top: 50px;

		@include max(ti) {
			grid-template-columns: repeat(1, 1fr);
			margin-top: 30px;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 121px;
		font-size: 16px;
		border: 1px dashed #a2a2a2;
	}

	&__text {
		color: $black;
		font-size: 18px;

		@include max(tl) {
			font-size: fluid(16, 18, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(14, 16, 0, 768);
			text-align: center;
		}
	}
}
