.container {
	max-width: 990px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;

	@include max(t) {
		padding: 0 15px;
	}

	&--medium {
		max-width: 1197px;
	}

	&--big {
		max-width: 1870px;
	}
}
