.footer {
	$parent: &;

	position: relative;
	background-color: $color-button;
	padding: 28px 0;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
}
