.header {
	$parent: &;

	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 24px 0;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
}
