.hero {
	position: relative;
	min-height: 847px;
	height: 100vh;
	padding: 97px 0 0;

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__title {
		color: $white;
		font-weight: 400;
		font-size: 132px;
		line-height: 1;
		letter-spacing: -0.02em;
		text-align: center;
	}

	&__text {
		color: $white;
		font-size: 30px;
		text-align: center;
		margin-top: 8px;
	}

	&__button {
		margin: auto auto 100px;
	}
}
