.hero {
	$parent: &;

	position: relative;
	min-height: 847px;
	height: 100vh;
	padding: 97px 0 0;

	&.animate {
		#{$parent} {
			&__bg {
				opacity: 0;
			}

			&__text {
				transform: translateY(30px);
				opacity: 0;
			}

			&__button {
				height: 0;
			}
		}
	}

	&__bg {
		position: absolute;
		inset: 0;
		transition: 0.3s ease;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__title {
		color: $white;
		font-weight: 400;
		font-size: 132px;
		line-height: 1;
		letter-spacing: -0.02em;
		text-align: center;

		&.split-title {
			overflow: hidden;
			opacity: 0;
		}

		&.visible {
			opacity: 1;
		}

		@include max(d) {
			font-size: fluid(100, 132, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(80, 100, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(40, 80, 0, 768);
		}

		.char {
			transform: translateY(100%);
			transition: 0.3s ease;
		}
	}

	&__text {
		color: $white;
		font-size: 30px;
		text-align: center;
		margin-top: 8px;
		transition: 0.3s ease 1s;

		@include max(d) {
			font-size: fluid(28, 30, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(26, 28, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(22, 26, 0, 768);
		}
	}

	&__button {
		margin: auto auto 100px;
		padding: 0;
		height: 55px;
		overflow: hidden;
		transition: background-color 0.3s ease, height 0.3s ease 1.3s;
	}
}
