.reason {
	padding: 40px 0;
	background-color: $color-bg;

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 400px);
		justify-content: center;
		gap: 17px 20px;
		margin-top: 31px;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 175px;
		background-color: $white;
		padding: 20px 40px 20px 25px;
		font-size: 18px;
		line-height: 1.3;

		&--accent {
			font-size: 24px;
			color: $color-button;

			&:nth-child(even) svg {
				bottom: -25px;
				left: -25px;
				transform: rotate(90deg);
			}
		}

		svg {
			position: absolute;
			z-index: 1;
			bottom: -25px;
			right: -25px;
		}
	}
}
