.reason {
	$parent: &;

	padding: 40px 0;
	background-color: $color-bg;

	@include max(ti) {
		padding: 30px 0;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 400px);
		justify-content: center;
		gap: 17px 20px;
		margin-top: 31px;

		@include max(tl) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include max(t) {
			grid-template-columns: repeat(1, 1fr);
			gap: 31px;
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 175px;
		background-color: $white;
		padding: 20px 40px 20px 25px;
		font-size: 18px;
		line-height: 1.3;

		@include max(tl) {
			font-size: fluid(16, 18, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(14, 16, 0, 768);
		}

		&--accent {
			font-size: 24px;
			color: $color-button;

			@include max(d) {
				font-size: fluid(22, 24, 992, 1280);
			}

			@include max(tl) {
				font-size: fluid(18, 22, 768, 992);
			}

			@include max(ti) {
				font-size: fluid(16, 18, 0, 768);
			}

			&:nth-child(even) #{$parent}__line {
				bottom: -25px;
				left: -25px;
				transform: rotate(90deg);

				@include max(t) {
					bottom: -32px;
					left: 50%;
					transform: translateX(-50%) rotate(45deg);
				}
			}
		}
	}

	&__line {
		position: absolute;
		z-index: 1;
		bottom: -25px;
		right: -25px;

		@include max(t) {
			bottom: -32px;
			right: unset;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
		}

		&--mobile {
			display: none;

			@include max(t) {
				display: block;
			}
		}
	}
}
