.reviews {
	padding: 48px 0;
	background-color: $color-bg;

	@include max(ti) {
		padding: 30px 0;
	}

	&__group {
		display: flex;
		margin-top: 43px;

		@include max(ti) {
			margin-top: 30px;
		}

		@include max(t) {
			flex-direction: column;
			gap: 30px;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 21px;

		@include max(tl) {
			min-width: 220px;
		}

		@include max(t) {
			margin-right: 0;
		}
	}

	&__image {
		min-width: 142px;
		max-width: 142px;
		height: 142px;
		border-radius: 50%;
		overflow: hidden;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		max-width: 460px;
		color: $black;
		font-size: 15px;
		line-height: 1.4;

		@include max(tl) {
			max-width: 100%;
			font-size: fluid(17, 18, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(16, 17, 0, 768);
		}
	}

	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 32px;
		margin-left: 20px;

		@include max(tl) {
			display: none;
			padding-left: 0;
			margin-left: 0;
			padding-top: 30px;
			margin-top: 30px;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 1px;
			height: 100%;
			background-color: $black;

			@include max(tl) {
				width: 100%;
				height: 1px;
			}
		}

		&--mobile {
			display: none;

			@include max(tl) {
				display: flex;
			}
		}
	}

	&__name {
		color: $color-button;
		font-size: 25px;

		@include max(tl) {
			text-align: center;
		}
	}

	&__position,
	&__company {
		font-size: 15px;

		@include max(tl) {
			text-align: center;
		}
	}

	&__position {
		margin-top: 16px;
	}

	&__company {
		margin-top: 12px;
	}
}
