.rules {
	$parent: &;

	padding: 40px 0 83px;
	background-color: $color-bg;

	@include max(ti) {
		padding: 30px 0;
	}

	&__group {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 34px;

		@include max(ti) {
			flex-direction: column;
			align-items: center;
		}

		& + #{$parent}__group {
			margin-top: 46px;

			@include max(ti) {
				margin-top: 80px;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		width: 64px;
		height: 64px;
	}

	&__text {
		max-width: 189px;
		font-size: 15px;
		text-align: center;
		margin-top: 30px;

		@include max(ti) {
			max-width: 100%;
			margin-top: 10px;
		}
	}

	&__line {
		position: relative;
		width: 206px;
		height: 1px;
		margin: 32px -20px 0 -20px;
		background: repeating-linear-gradient(to right, $color-line 0, $color-line 8px, transparent 8px, transparent 16px);

		@include max(tl) {
			width: auto;
			flex-grow: 1;
		}

		@include max(ti) {
			width: 1px;
			height: 150px;
			margin: 20px 0;
			background: repeating-linear-gradient(to top, $color-line 0, $color-line 8px, transparent 8px, transparent 16px);
		}

		&::before,
		&::after {
			position: absolute;
			top: -2px;
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $color-line;

			@include max(ti) {
				left: -2px;
			}
		}

		&::before {
			left: 0;

			@include max(ti) {
				top: 0;
				left: -2px;
			}
		}

		&::after {
			right: 0;

			@include max(ti) {
				top: unset;
				right: unset;
				bottom: 0;
			}
		}
	}
}
