.solutions {
	padding: 40px 0 80px;

	@include max(ti) {
		padding: 30px 0;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 400px);
		justify-content: center;
		gap: 26px;
		margin-top: 61px;

		@include max(tl) {
			grid-template-columns: repeat(2, 350px);
		}

		@include max(ti) {
			grid-template-columns: repeat(1, 1fr);
			margin-top: 30px;
		}
	}

	&__tooltip {
		position: absolute;
		z-index: 5;
		padding: 10px;
		background-color: $color-button;
		border-radius: 6px;
		color: $white;
		font-size: 16px;
		opacity: 0;
		pointer-events: none;
		will-change: transform;
		transform: translate3d(0, 0, 0);

		@include max(ti) {
			display: none;
		}

		&.visible {
			opacity: 1;
		}
	}
}
