.solutions-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 400px;
	width: 100%;
	min-height: 420px;
	padding: 21px 15px 21px 17px;
	background-color: $color-card;

	@include max(d) {
		max-width: 100%;
	}

	@include max(ti) {
		min-height: 300px;
		padding: 30px 15px 60px 15px;
	}

	&--empty {
		background-color: transparent;
	}

	&--bg {
		&::before {
			@include max(ti) {
				position: absolute;
				inset: 0;
				z-index: 1;
				content: "";
				background-color: rgba(0, 0, 0, 0.7);
			}
		}
	}

	&--3 {
		@include max(d) {
			grid-column: 1 / span 2;
		}

		@include max(ti) {
			grid-column: 1 / span 1;
		}
	}

	&--4 {
		@include max(d) {
			grid-column: 1 / span 2;
			order: 3;
		}

		@include max(ti) {
			grid-column: 1 / span 1;
		}
	}

	&--5 {
		@include max(d) {
			order: 2;
		}
	}

	&--6 {
		@include max(d) {
			order: 1;
		}
	}

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: left;
	}

	&__title {
		position: relative;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.25;
		margin-top: auto;

		@include max(ti) {
			z-index: 1;
			color: $white;
			font-size: fluid(26, 30, 0, 768);
			text-align: center;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 1.25;

		@include max(tl) {
			font-size: fluid(16, 18, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(14, 16, 0, 768);
		}

		&::after {
			content: "";
			display: table;
			clear: both;
		}

		b {
			display: block;
		}

		ul {
			list-style: inherit;
			padding-left: 27px;
			margin-top: 2px;
			margin-bottom: 26px;

			li + li {
				margin-top: 4px;
			}
		}
	}

	&__icon {
		position: absolute;
		bottom: 17px;
		right: 17px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 28px;
		height: 28px;
		padding: 7px 3px 3px 7px;
		margin-left: 10px;
		background-color: $color-button;
		border-radius: 50%;
		overflow: hidden;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
