.solutions {
	padding: 40px 0 80px;

	@include max(ti) {
		padding: 30px 0;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 400px);
		justify-content: center;
		gap: 26px;
		margin-top: 61px;

		@include max(1750) {
			grid-template-columns: repeat(3, 400px);
		}

		@include max(d) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include max(ti) {
			grid-template-columns: repeat(1, 1fr);
			margin-top: 30px;
		}
	}

	&__card {
		&:nth-child(4n + 1) {
			right: 74px;

			@include max(1900) {
				right: unset;
			}
		}

		&:nth-child(4n) {
			left: 74px;

			@include max(1900) {
				left: unset;
			}
		}

		&:first-child,
		&:last-child {
			@include max(1750) {
				display: none;
			}
		}
	}
}
