.solutions-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 21px 15px 21px 17px;
	background-color: $color-card;

	&--empty {
		background-color: transparent;
	}

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: left;
	}

	&__title {
		position: relative;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.25;
		margin-top: auto;
	}

	&__text {
		font-size: 18px;
		line-height: 1.25;

		&::after {
			content: "";
			display: table;
			clear: both;
		}

		b {
			display: block;
		}

		ul {
			list-style: inherit;
			padding-left: 27px;
			margin-top: 2px;
			margin-bottom: 26px;

			li + li {
				margin-top: 4px;
			}
		}
	}

	&__icon {
		position: absolute;
		bottom: 17px;
		right: 17px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 28px;
		height: 28px;
		padding: 7px 3px 3px 7px;
		margin-left: 10px;
		background-color: $color-button;
		border-radius: 50%;
		overflow: hidden;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
