.title {
	color: $color-text;
	font-weight: 400;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;

	@include max(d) {
		font-size: fluid(60, 80, 992, 1280);
	}

	@include max(tl) {
		font-size: fluid(40, 60, 768, 992);
	}

	@include max(ti) {
		font-size: fluid(22, 40, 0, 768);
	}
}