.video {
	$parent: &;

	padding: 40px 0;
	background-color: $color-bg;

	@include max(ti) {
		padding: 30px 0;
	}

	&__wrapper {
		position: relative;
		aspect-ratio: 16 / 9;
	}

	&__poster {
		position: absolute;
		inset: 0 0 5px 0;
		z-index: 1;
		cursor: pointer;

		&:hover #{$parent}__play::before {
			transform: scale(1.1);
		}
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 86px;
		height: 86px;
		padding-left: 12px;

		&::before {
			position: absolute;
			inset: 0;
			content: "";
			background-color: rgba($white, 0.6);
			border-radius: 50%;
			transition: 0.3s ease;
		}

		svg {
			position: relative;
		}
	}

	&__frame {
		width: 100%;
		height: 100%;
	}
}
