.video {
	padding: 40px 0;
	background-color: $color-bg;

	&__wrapper {
		position: relative;
		min-height: 524px;
	}

	&__poster {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 86px;
		height: 86px;
		padding-left: 12px;
		border-radius: 50%;
		background-color: rgba($white, 0.6);
	}
}
