extends ../layouts/default

block vars
	-
		const page = {
			title: 'Siem'
		};

block main
	section.hero.animate
		.hero__bg
			+picture('hero-bg', 'jpg', 'hero__bg-image', '')
		.container.hero__container
			h1.hero__title.split-title Solar SIEM
			.hero__text Единая платформа для мониторинга, обнаружения и&nbsp;реагирования на&nbsp;инциденты
			+button('Узнать подробее', 'hero__button', '#')
	section.advantages.animate
		.container
			+title('Solar SIEM — это&nbsp;платформа управления кибербезопасностью')
			.advantages__grid
				.advantages-item
					.advantages-item__icon
						+icon('advantages-1')
					.advantages-item__text Работает с&nbsp;полным циклом&nbsp;жизни <br> инцидента
				.advantages-item
					.advantages-item__icon
						+icon('advantages-2')
					.advantages-item__text Экномит до 40% бюджета на внедрении благодаря двум технологиям <br> SIEM и&nbsp;SOAR
				.advantages-item
					.advantages-item__icon
						+icon('advantages-3')
					.advantages-item__text.
						Ускоряет работу с&nbsp;инцидентом с&nbsp;помощью экспертизы Solar JSOC,
						усиленной <span style="white-space: nowrap;">AI-ассистентом</span>
				.advantages-item
					.advantages-item__icon
						+icon('advantages-4')
					.advantages-item__text Автоматизируется до&nbsp;90%&nbsp;рутины <br> специалиста
	section.solutions
		.container.container--big
			+title('Какие проблемы клиентов решает Solar SIEM?')
			.solutions__tooltip Подробнее
			.solutions__grid
				.solutions-card.solutions-card--bg.animate(data-solution-order='1')
					.solutions-card__bg-wrapper.flipped
						.solutions-card__bg
							+picture('solutions/1', 'png', 'solutions-card__bg-image', '')
						.solutions-card__title Средний бизнес
						+button('Подробнее', 'solutions-card__more')
					.solutions-card__front
						.solutions-card__text
							b Проблема
							ul
								li Высокий порог входа в&nbsp;разработку и&nbsp;поддержку контента из&nbsp;<span style="white-space: nowrap;">SIEM-систем</span>
								li Ограниченные ресурсы
								li Дефицит квалифицированных специалистов
							b Последствия:
							p Средний бизнес становится лёгкой мишенью для&nbsp;атак, не&nbsp;имея ресурсов на&nbsp;полноценную защиту
						.solutions-card__icon
							+icon('arrow')
					.solutions-card__back
						.solutions-card__text
							b Решение от&nbsp;Solar SIEM
							ul
								li.
									Встроенный <span style="white-space: nowrap;">AI-ассистент</span> работает
									на&nbsp;уровне <span style="white-space: nowrap;">senior-специалиста</span>
								li Наличие SIEM и&nbsp;SOAR закрывает «базовый уровень защиты» и&nbsp;весь цикл работы с&nbsp;инцидентом
								li Автоматизация процессов мониторинга, обработки и&nbsp;реагирования на&nbsp;инциденты
								li Экспертиза Solar JSOC из&nbsp;«коробки»
							b Результат:
							p.
								Solar SIEM позволяет бороться компаниям с&nbsp;небольшим штатом и&nbsp;невысоким уровнем экспертизы
								на&nbsp;равных с&nbsp;крупными организациями
						.solutions-card__icon
							+icon('arrow')
				.solutions-card.solutions-card--bg.animate(data-solution-order='2')
					.solutions-card__bg-wrapper.flipped
						.solutions-card__bg
							+picture('solutions/2', 'png', 'solutions-card__bg-image', '')
						.solutions-card__title Крупный бизнес и&nbsp;госструктуры (собственные SOC)
						+button('Подробнее', 'solutions-card__more')
					.solutions-card__front
						.solutions-card__text
							b Проблема
							ul
								li Высокая нагрузка на&nbsp;специалистов SOC
								li Высокие трудозатраты <br> на&nbsp;рутинные операции
								li Необходим централизованный <br> сбор данных со&nbsp;всех <br> информационных систем
							b Последствия:
							p Ниже эффективность работы специалистов SOC и&nbsp;выше риски позднего реагирования <br> на&nbsp;инциденты
						.solutions-card__icon
							+icon('arrow')
					.solutions-card__back
						.solutions-card__text
							b Решение Solar SIEM
							ul
								li Встроенные сценарии <br> реагирования с&nbsp;возможностью <br> гибкой настройки
								li Профилирование данных для&nbsp;сокращения времени анализа
								li Простое и&nbsp;удобное управление конфигурациями и&nbsp;исключениями для&nbsp;корреляционных правил
							b Результат:
							p Фокус сотрудников на&nbsp;стратегических задачах и&nbsp;предотвращении атак. <br> Рост киберустойчивости <br> инфраструктуры
						.solutions-card__icon
							+icon('arrow')
	section.banner
		.container
			.banner__wrapper
				.banner__bg
					+picture('banner/1', 'jpg', 'banner__bg-image', '')
				.banner__content
					.banner__title Готовы перейти на&nbsp;Solar SIEM?
					+button('узнать больше', 'banner__button', 'https://www.cnews.ru/redirect.php?9893076945a4f986c77')
	section.reason
		.container
			+title('Почему выбирают Solar SIEM')
			.reason__grid
				.reason__item.reason__item--accent.animate-single
					p Снижение совокупной стоимости владения (ТСО)&nbsp;до&nbsp;40%
					+icon('line')(width='32', height='32', class='reason__line')
				.reason__item.animate-single
					p 2&nbsp;технологии - SIEM и&nbsp;SOAR — позволяют оптимизировать бюджет при&nbsp;внедрении решения по&nbsp;отдельным лицензиями
					+icon('line')(width='32', height='32', class='reason__line reason__line--mobile')
				.reason__item.animate-single
					p Правила и&nbsp;сценарии основаны на&nbsp;опыте крупнейшего в&nbsp;России SOC
					+icon('line')(width='32', height='32', class='reason__line reason__line--mobile')
				.reason__item.reason__item--accent.animate-single
					p Экспертиза Solar JSOC из&nbsp;«коробки»
					+icon('line')(width='32', height='32', class='reason__line')
				.reason__item.reason__item--accent.animate-single
					p Снижение порога входа для&nbsp;аналитиков
					+icon('line')(width='32', height='32', class='reason__line')
				.reason__item.animate-single
					p.
						В Solar SIEM встроен визуальный конструктов сценариев
						и&nbsp;<span style="white-space: nowrap;">AI-ассистент</span>, который развивается
						от&nbsp;уверенного «джуна» до&nbsp;«синьора»
					+icon('line')(width='32', height='32', class='reason__line reason__line--mobile')
				.reason__item.animate-single
					p Поддержка клиента обеспечивается на&nbsp;всех этапах, снимая главный страх рынка — сложность проекта
					+icon('line')(width='32', height='32', class='reason__line reason__line--mobile')
				.reason__item.reason__item--accent.animate-single
					p Сопровождение проекта внедрения до&nbsp;результата
	section.video
		.container
			.video__wrapper
				.video__poster
					+picture('video-poster', 'jpg', 'video__bg-image', '')
					.video__play
						+icon('play')(width='41', height='47')
				video.video__frame(controls)
					source(src='https://static.cnews.ru/video/2025/12/19/siem-video.mp4', type='video/mp4')
	section.rules
		.container
			+title('Как Solar SIEM меняет правила игры')
			.rules__group.animate(data-rules-order='1')
				.rules__item
					+icon('rules-1')(class='rules__logo')
					.rules__text Полный цикл защиты от&nbsp;кибератак <br> в&nbsp;едином окне
				.rules__line
				.rules__item
					.rules__logo
						+icon('rules-2')(class='rules__logo')
					.rules__text Работа из&nbsp;«коробки»: быстрая настройка конфигурации
				.rules__line
				.rules__item
					.rules__logo
						+icon('rules-3')(class='rules__logo')
					.rules__text Автоматизация 90% рутины: плейбуки, реагирование, сбор данных
			.rules__group.animate(data-rules-order='2')
				.rules__item
					.rules__logo
						+icon('rules-4')(class='rules__logo')
					.rules__text Непрерывная <br> доставка новых правил корреляции, источников и&nbsp;парсеров
				.rules__line
				.rules__item
					.rules__logo
						+icon('rules-5')(class='rules__logo')
					.rules__text Легкий онбординг <br> новых специалистов ИБ
				.rules__line
				.rules__item
					.rules__logo
						+icon('rules-6')(class='rules__logo')
					.rules__text Соответствие требованиям регуляторов по&nbsp;ИБ
	section.cases.animate
		.container
			+title('Кейсы внедрения')
			.cases__group
				.cases__logo место для логотипа
				.cases__text.
					Автоматизированный программный комплекс для&nbsp;централизованного мониторинга,
					анализа и&nbsp;реагирования на&nbsp;инциденты ИБ
	section.reviews
		.container
			+title('Отзывы экспертов')
			.reviews__group
				.reviews__left
					.reviews__image
						+picture('author', 'jpg', 'reviews__bg-image', '')
					.reviews__info.reviews__info--mobile
						.reviews__name Иван Петров
						.reviews__position Руководитель направления энергоэффективных технологий
						.reviews__company Компания: ЭнергоКонсалт
				.reviews__text.
					Компания RT-Solar демонстрирует высокий уровень профессионализма и&nbsp;глубокую экспертизу в&nbsp;области солнечной энергетики.
					В&nbsp;своей работе специалисты уделяют внимание каждой детали — от&nbsp;подбора оборудования до&nbsp;точности проектных решений.
					Мы особенно отмечаем инженерный подход и&nbsp;качественную техническую поддержку, что&nbsp;делает RT-Solar надёжным партнёром
					в&nbsp;сфере внедрения современных солнечных технологий. Сотрудничество с&nbsp;компанией можно охарактеризовать как&nbsp;прозрачное,
					технологичное и&nbsp;нацеленное на&nbsp;результат.
				.reviews__info
					.reviews__name Иван Петров
					.reviews__position Руководитель направления энергоэффективных технологий
					.reviews__company Компания: ЭнергоКонсалт
	section.banner.banner--bottom
		.container
			.banner__wrapper
				.banner__bg
					+picture('banner/2', 'jpg', 'banner__bg-image', '')
				.banner__content
					.banner__title Оцените Solar SIEM в&nbsp;действии
					+button('Хочу демонстрацию', 'banner__button', 'https://www.cnews.ru/redirect.php?9893076945a4f986c77')
	section.news
		.container
			+title('Новости о&nbsp;продукте')
			.news__grid
				.news-item
					a.news-item__link(href='#', target='_blank')
					.news-item__image
						+picture('news/1', 'jpg', 'news-item__bg-image', '')
					.news-item__content
						.news-item__title Тема новости
						.news-item__text.
							В&nbsp;энергетической компании с&nbsp;распределенными филиалами после <span style="white-space: nowrap;">ИБ-инцидента</span>
							возникла необходимость контролировать работу администраторов сети, приложений и&nbsp;баз данных
						.news-item__more
							span Читать полностью
							+icon('arrow-right')(width='24', height='24')
				.news-item
					a.news-item__link(href='#', target='_blank')
					.news-item__image
						+picture('news/2', 'jpg', 'news-item__bg-image', '')
					.news-item__content
						.news-item__title Тема новости
						.news-item__text.
							В&nbsp;энергетической компании с&nbsp;распределенными филиалами после <span style="white-space: nowrap;">ИБ-инцидента</span>
							возникла необходимость контролировать работу администраторов сети, приложений и&nbsp;баз данных
						.news-item__more
							span Читать полностью
							+icon('arrow-right')(width='24', height='24')
				.news-item
					a.news-item__link(href='#', target='_blank')
					.news-item__image
						+picture('news/3', 'jpg', 'news-item__bg-image', '')
					.news-item__content
						.news-item__title Тема новости
						.news-item__text.
							В&nbsp;энергетической компании с&nbsp;распределенными филиалами после <span style="white-space: nowrap;">ИБ-инцидента</span>
							возникла необходимость контролировать работу администраторов сети, приложений и&nbsp;баз данных
						.news-item__more
							span Читать полностью
							+icon('arrow-right')(width='24', height='24')
