@font-face {
	font-family: "ONYOneBeta";
	src: url("../fonts/ONYOneBeta-Light.otf") format("opentype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "ONYOneBeta";
	src: url("../fonts/ONYOneBeta-Regular.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "ONYOneBeta";
	src: url("../fonts/ONYOneBeta-Medium.otf") format("opentype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "ONYOneBeta";
	src: url("../fonts/ONYOneBeta-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "ArialRoundedMTBold";
	src: url("../fonts/ArialRoundedMTBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
