/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'ONYOneBeta', sans-serif;
$secondFont: 'ArialRoundedMTBold', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$color-text: #171717;
$color-button: #fe6e36;
$color-line: #ff6124;
$color-icon-bg: #eaebec;
$color-card: #ececec;
$color-bg: #f6f6f6;
$color-card-border: #aaadb0;
